*{
    margin: 0px;
    padding: 0px;
}
.back{
    background-image: linear-gradient(0deg, rgba(0,24,48,1), rgba(0,24,48,0)),
        url('../images/sss.jpg') ;
    height: 100%;
    width: 100%;
    background-position: 35% center ;
    display: flex;
    justify-content: center;
    align-items: center
}
.back1{
    background-image: linear-gradient(0deg, rgba(0,24,48,1), rgba(0,24,48,0)),
    url('../images/qqq.jpg') ;
    height: 100%;
    background-size: cover;
    width: 100%;
    background-position: 50% center ;
    display: flex;
    justify-content: center;
}
.back2{
    background-image: linear-gradient(0deg, rgba(0,24,48,1), rgba(0,24,48,0)),
    url('../images/bg1.jpg') ;
    height: 100%;
    background-size: cover;
    width: 100%;
    background-position: 50% center ;
    display: flex;
    justify-content: center;
}
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.btnmain{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    top: 430px;
    color: white;
    border-radius:5px   ;
    border: 2px solid orange;
    background: none;
    font-size: 25px;
    padding: 10px;
}
.btn:hover{
    color: white;
}
.btn1{
    color: white;
    border-radius:3px;
    border: 2px solid orange;
    background: none;
    font-size: 25px;
    position: absolute;
    bottom: 150px;
    width: 70%;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.op{
    position: absolute;
    font-size: 40px;
    color: white;
    font-weight: bold;
    top: 0;
    background-color: #1d163687;
    display: flex;
    justify-content: center;
    width: 100%;
}
.input1, .input2{
    padding-left: 20px;
    color: white;
}
.input1{
    width: 90%;
    position: absolute;
    font-size: 25px;
    border-radius: 5px;
    background: none;
    border:2px solid orange;
    top: 35%;
    height:55px;
    left: 50%;
    transform: translateX(-50%);
}
.input1::placeholder, .input2::placeholder{
    color: white;
}
.input2{
    width: 90%;
    position: absolute;
    font-size: 25px;
    border-radius: 5px;
    background: none;
    border:2px solid orange;
    top: 44%;
    height: 55px;
    left: 50%;
    transform: translateX(-50%);
}
.zab{
    font-size: 25px;
    color: white;
    position: absolute;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    top: 65%;
}
.reg:hover{
    text-decoration: none;
}
.reg{
    text-decoration: none;
    color: white;
    border-radius:5px;
    border: 2px solid orange;
    background: none;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    width: 90%;
    height: 50px;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
}
.login{
    position: absolute;
    width: 90%;
    height: 50px;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    font-size: 30px;
    top: 53%;
    background: none;
    border-radius:5px;
    border: 2px solid orange;
    color: white;
}
.line1{
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    display: flex;
    width: 90%;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: white;
}
.hr1{
    width: 35%;
    background-color: orange;
    height: 2px;
    border: 0px;
}
.font1{
    margin-left: 20px;
    margin-right: 20px;
}
.img1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}
.btn1:hover{
    text-decoration: none;
}
.zagl{
    margin-top: 30px;
    font-size: 40px;
    color: white;
}
